i3lock \
	-i ~/Pictures/starwars1.png \
	--composite \
	--nofork \
	--clock \
	--radius=150 \
	--indicator \
	--insidecolor=00000000 \
	--insidevercolor=00000000 \
	--insidewrongcolor=00000000 \
	--linecolor=00000000 \
	--ringcolor=00000000 \
	--ringvercolor=00000000 \
	--ringwrongcolor=${RED}FF \
	--keyhlcolor=${GREEN}FF \
	--bshlcolor=${FOREGROUND}FF \
	--separatorcolor=00000000 \
	--timecolor=${BLACK2}FF \
	--datecolor=${BLACK2}FF \
	--verifcolor=${BLACK2}FF \
	--wrongcolor=${BLACK2}FF \
	--wrongcolor=${BLACK2}FF \

# vim:ft=sh
