i3lock \
	--nofork \
	--ignore-empty-password \
	--show-failed-attempts \
	--clock \
	--radius=100 \
	--indicator \
	--line-uses-ring \
	--insidevercolor=00000000 \
	--insidewrongcolor=00000000 \
	--insidecolor=00000000 \
	--ringvercolor=${FOREGROUND}FF \
	--ringwrongcolor=${RED}FF \
	--ringcolor=00000000 \
	--linecolor=00000000 \
	--keyhlcolor=${FOREGROUND}FF \
	--bshlcolor=${RED}FF \
	--separatorcolor=00000000 \
	--textcolor=${FOREGROUND}FF \
	--timestr="Andreas" \
	--timecolor=${FOREGROUND}FF \
	--datestr="%H:%M" \
	--datecolor=${FOREGROUND}FF \
	--color=${BACKGROUND} 
