[options]
allow_bold = true
audible_bell = false
clickable_url = true
#dynamic_title = true
font = FontAwesome 12
font = Source Code Pro 12
#fullscreen = true
#geometry = 640x480
#icon_name = terminal
mouse_autohide = false
#scroll_on_output = false
#scroll_on_keystroke = true
# Length of the scrollback buffer, 0 disabled the scrollback buffer
# and setting it to a negative value means "infinite scrollback"
scrollback_lines = 10000
#search_wrap = true
#urgent_on_bell = true
#hyperlinks = false

# $BROWSER is used by default if set, with xdg-open as a fallback
browser = xdg-open

# "system", "on" or "off"
#cursor_blink = system

# "block", "underline" or "ibeam"
#cursor_shape = block

# Hide links that are no longer valid in url select overlay mode
#filter_unmatched_urls = true

# Emit escape sequences for extra modified keys
#modify_other_keys = false

# set size hints for the window
#size_hints = false

# "off", "left" or "right"
#scrollbar = off

[colors]
# If both of these are unset, cursor falls back to the foreground color,
# and cursor_foreground falls back to the background color.
#cursor = #dcdccc
#cursor_foreground = #dcdccc

#foreground = #dcdccc
#foreground_bold = #ffffff
#background = #3f3f3f

# 20% background transparency (requires a compositor)
#background = rgba(63, 63, 63, 0.8)

# If unset, will reverse foreground and background
highlight = #2f2f2f

# Colors from color0 to color254 can be set

foreground = #${FOREGROUND}
background = #${BACKGROUND}
# cursor = #a7a7a7

# black
color0 = #${BLACK}
color8 = #${BLACK2}

# red
color1 = #${RED}
color9 = #${RED2}

# green
color2 = #${GREEN}
color10 = #${GREEN2}

# yellow
color3 = #${YELLOW}
color11 = #${YELLOW2}

# blue
color4 = #${BLUE}
color12 = #${BLUE2}

# magenta
color5 = #${MAGENTA}
color13 = #${MAGENTA2}

# cyan
color6 = #${CYAN}
color14 = #${CYAN2}

# white
color7 = #${WHITE}
color15 = #${WHITE2}

[hints]
#font = Monospace 12
#foreground = #dcdccc
#background = #3f3f3f
#active_foreground = #e68080
#active_background = #3f3f3f
#padding = 2
#border = #3f3f3f
#border_width = 0.5
#roundness = 2.0

# vim: ft=dosini cms=#%s
