*.foreground:   #${FOREGROUND}
*.background:   #${BACKGROUND}
*.cursorColor:  #${FOREGROUND}
*.color0:       #${BLACK}
*.color8:       #${BLACK2}
*.color1:       #${RED}
*.color9:       #${RED2}
*.color2:       #${GREEN}
*.color10:      #${GREEN2}
*.color3:       #${YELLOW}
*.color11:      #${YELLOW2}
*.color4:       #${BLUE}
*.color12:      #${BLUE2}
*.color5:       #${MAGENTA}
*.color13:      #${MAGENTA2}
*.color6:       #${CYAN}
*.color14:      #${CYAN2}
*.color7:       #${WHITE}
*.color15:      #${WHITE2}

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
