alias ll='ls -l'
alias g='git'
alias vi='/usr/bin/nvim'
alias vim='/usr/bin/nvim'
alias ssh='TERM=xterm-256color ssh'
alias open='mimeopen'

export EDITOR=/usr/bin/nvim
export BROWSER=/usr/bin/firefox
export PATH=$HOME/bin:$HOME/go/bin:$PATH:$HOME/dev-tools/bin:$HOME/.cargo/bin
export RIPGREP_CONFIG_PATH=~/.ripgreprc
export GOPATH=$HOME/go

export DOCKERFILES_REPO_PATH=$HOME/workspace/dockerfiles

export DOTNET_ROOT=/opt/dotnet

source ~/.get_token

# vim: ft=zsh
