rofi.modi: combi,window,drun
rofi.combi-modi: window,drun

rofi.bw: 1
rofi.hide-scrollbar: true
rofi.scroll-method: 1
rofi.show-icons: true
rofi.fullscreen: true

!Background, Foreground, Alt background, Highlight background, Highlight foreground
rofi.color-window: #${BACKGROUND},#${GREEN},#${BACKGROUND},#${BLACK2},#${FOREGROUND}
rofi.color-normal: #${BACKGROUND},#${FOREGROUND},#${BACKGROUND},#${BLACK2},#${FOREGROUND}
rofi.color-urgent: #${BACKGROUND},#${RED},#${BACKGROUND},#${BLACK2},#${RED}
rofi.color-active: #${BACKGROUND},#${GREEN},#${BACKGROUND},#${BLACK2},#${GREEN}
